<h1>Microcoreutils</h1>
<hr>
<table>
   <tr>
      <td width="80%">
         <p class="storytext">
            <a target="_blank" class="storytext" href="https://github.com/riscygeek/microcoreutils">Microcoreutils</a> is a project of mine
            which tries to implement most of the utilities specified by the POSIX standard.
            The projects aim is to not add unspecified behaviour and only add stuff
            that is specified by the POSIX standard.
            <br>
            &nbsp;
            <br>
            These are the manuals of some utilities:
         </p>
      </td>
      <td>&nbsp;</td>
   </tr>
</table>
__LINKS__
