<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <link rel="stylesheet" href="styles/stylesheet.css">
      <title>Homepage Benni</title>
   </head>
   <body>
      <div class="background">
         <img class="banner" src="img/Cat_11.jpg">
         <table>
            <tr>
               <td width="175px" valign="top">
                  <br>
                  <table class="link-table">
                     __LINKS__
                  </table>
               </td>
               <td width="25px">
                  <br>
               </td>
               <td width="1055px">
                  __REPLACE__
               </td>
            </tr>
         </table>
         <p class="unimp">
            Look at my source code on
            <a class="unimp-link" target="_blank" href="https://github.com/Benni3D/website">GitHub</a>
            <a style="margin-left: 900px; color: #204820;" align="middle" href="memes.html">Memes</a>
            <br>
            This website is licensed under the terms of the GPLv3.
            <br>
            Tor link:
            <a href="http://cujh7njfeymmh2a5q6ijeh7f5z3fpdpbsn3wfwvpo3ev3nkpp7py74id.onion">cujh7njfeymmh2a5q6ijeh7f5z3fpdpbsn3wfwvpo3ev3nkpp7py74id.onion</a>
         </p>
      </div>
   </body>
</html>
