
/* General */

body {
   background: #306030;
   width: 1280px;
   margin-left: auto;
   margin-right: auto;
}

.background {
   border: 10px solid #204020;
   background-color: #204020;
}
.banner {
   width: 100%;
   height: 120px;
}

.separator {
   font-size: 1px;
}

h1 {
   color: #20b0ff;
   font-style: bold;
   font-size: 40px;
}

.text {
   color: #dddddd;
   font-family: monospace;
   font-size: 18px;
}

/* Unimportant Stuff */

.unimp {
   color: #aaaaaa;
}
.unimp-link {
   color: #aaaa22;
}

/* Menu */

.link-table {
   border: 0px solid darkgreen;
   width: 100%;
   margin-top: 12px;
}
.link-td {
   font-size: 22px;
   color: #408040;
   border: 1px solid darkgreen;
   background: darkgreen;
   border-bottom-right-radius: 15px;
}
.link-button {
   background-color: darkgreen;
   border-width: 1px;
   border-color: green;
   color: yellow;
   width: 100%;
   height: 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 15px;
   cursor: pointer;
   border-bottom-right-radius: 15px;
}

/* Liß */

.hcat {
   width: 1055;
}
.vcat {
   height: 349;
}
.scat {
   width: 100%;
}
.rotcat {
   width: 310;
   transform: rotate(45deg)
}

/* Meme Site */

.memevid {
   width: 49%;
}
.link-EG {
   color: #ff4444;
   font-family: comic;
   font-size: 20px;
}

/* Brainlet C Compiler Documentation */

.bcc-p {
   color: #ffffff;
   margin-top: 0;
   margin-bottom: 0;
   vertical-align: top;
}
.bcc-pre {
   color: #8070ff;
   margin-top: 0;
   margin-bottom: 0;
   vertical-align: top;
}
.bcc-h2 {
   color: #ff4444;
}
.bcc-a {
   color: #bbbb00;
}
.bcc-hr {
   color: #bbbb00;
}
.bcc-link {
   color: #478342;
   font-family: serif;
   font-size: 18px;
}

/* Microcoreutils Documentation */
.mc-summary-link {
   color: #378342;
   font-family: serif;
   font-size: 18px;
}

